{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="bg-light  mt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h1 class="font-weight-bold display-4 mt-5 ml-2 mb-5">Log in to your account.</h1>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control"
                               autocomplete="email" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               autocomplete="current-password"
                               required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                        <button class="btn btn-lg btn-primary mt-4" type="submit">
                           Connexion
                        </button>
                    </form>
                </div>
                <div class="col-lg-5 offset-lg-2 text-center">
                    <img class="img-fluid img-rounded" src="/assets/images/sensiolabs-university-icon.png"
                         alt="SensioLabs University Logo">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
