{% import 'macros.html.twig' as macros %}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Rechercher un film{% endblock %}

{% block body %}
    <section id="central-section" class="bg-light p-5">
        <div class="container jumbotron p-5 img-rounded">
            <div class="row mb-5">
                <div class="col-lg">
                    <form method="GET" action="">
                        <input style="width: 100%; height: 50px; font-size: 25px;" name="keyword" type="text"
                               value="Harry Potter"/>
                    </form>
                    <h1 class="display-4 font-weight-bold">Searching movie "{{ keyword }}".</h1>
                </div>
            </div>
            <div class="row mb-4 text-center text-md-left">
                <div class="col-lg-3 pb-3">
                    <p class="lead font-weight-bold">Top Rated Movies By Genre</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by genre">Action</a></li>
                        <li><a href="#" title="Choose your movie by genre">Adventure</a></li>
                        <li><a href="#" title="Choose your movie by genre">Animation</a></li>
                        <li><a href="#" title="Choose your movie by genre">Biography</a></li>
                        <li><a href="#" title="Choose your movie by genre">Comedy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Crime</a></li>
                        <li><a href="#" title="Choose your movie by genre">Drama</a></li>
                        <li><a href="#" title="Choose your movie by genre">Family</a></li>
                        <li><a href="#" title="Choose your movie by genre">Fantasy</a></li>
                        <li><a href="#" title="Choose your movie by genre">Film-Noir</a></li>
                        <li><a href="#" title="Choose your movie by genre">History</a></li>
                        <li><a href="#" title="Choose your movie by genre">Horror</a></li>
                        <li><a href="#" title="Choose your movie by genre">Music</a></li>
                        <li><a href="#" title="Choose your movie by genre">Musical</a></li>
                        <li><a href="#" title="Choose your movie by genre">Mystery</a></li>
                        <li><a href="#" title="Choose your movie by genre">Romance</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sci-Fi</a></li>
                        <li><a href="#" title="Choose your movie by genre">Sport</a></li>
                        <li><a href="#" title="Choose your movie by genre">Thriller</a></li>
                        <li><a href="#" title="Choose your movie by genre">War</a></li>
                        <li><a href="#" title="Choose your movie by genre">Western</a></li>
                    </ul>
                    <p class="lead font-weight-bold">Top Rated Movies By Year</p>
                    <ul class="list-unstyled">
                        <li><a href="#" title="Choose your movie by year">2020-2029</a></li>
                        <li><a href="#" title="Choose your movie by year">2010-2019</a></li>
                        <li><a href="#" title="Choose your movie by year">2000-2009</a></li>
                        <li><a href="#" title="Choose your movie by year">1990-1999</a></li>
                        <li><a href="#" title="Choose your movie by year">1980-1989</a></li>
                        <li><a href="#" title="Choose your movie by year">1970-1979</a></li>
                        <li><a href="#" title="Choose your movie by year">1960-1969</a></li>
                        <li><a href="#" title="Choose your movie by year">1950-1959</a></li>
                        <li><a href="#" title="Choose your movie by year">1940-1949</a></li>
                        <li><a href="#" title="Choose your movie by year">1930-1939</a></li>
                        <li><a href="#" title="Choose your movie by year">1920-1929</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 table-responsive img-rounded bg-light p-3">
                    <table id="top-rated-movie-table"
                           class="table table-hover table-striped tablesorter tablesorter-bootstrap">
                        <thead>
                        <tr>
                            <th class="sr-only"></th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for movie in movies.Search %}

                            {{ macros.render_movie(movie) }}
                        {% else %}
                            <p>Aucun résultat ne correspond à la recherche "{{ keyword }}"</p>

                        {% endfor %}

                        </tbody>
                    </table>
                    <nav class="m-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                                                              aria-disabled="true">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

